.peopleshoescombyhtmltodesign-fr-eversion15052023103-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-peopleshoescombyhtmltodesign-fr-eversion15052023103 {
  width: 100%;
  height: 4334px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divsitecontainer {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 4334px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divrevslider11wrapper {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 700px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 245, 245, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-litprevsliderslidesli {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divslotholder {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 700px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-img202301231104551 {
  top: -0.0408935546875px;
  left: 0.001739501953125px;
  width: 1920px;
  height: 700px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divclearfix {
  top: 700px;
  left: 0px;
  width: 1920px;
  height: 3467px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divwpbwrapper {
  top: 89px;
  left: 375px;
  width: 1170px;
  height: 479px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-h2boxheader {
  top: 0px;
  left: 0px;
  width: 1170px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text {
  top: 3px;
  left: 267.3800048828125px;
  color: rgba(17, 17, 17, 1);
  width: 645px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo {
  top: 57px;
  left: 535px;
  width: 100px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text002 {
  top: 83.9591064453125px;
  left: 114.00173950195312px;
  color: rgb(0, 0, 0);
  width: 942px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: center;
  font-family: Lato;
  font-weight: 600;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow {
  top: 618px;
  left: 375px;
  width: 1170px;
  height: 512px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divwpbwrapper1 {
  top: 46px;
  left: 0px;
  width: 270px;
  height: 442px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divfeatureitem {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text010 {
  top: 74px;
  left: 77.38999938964844px;
  color: rgba(17, 17, 17, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: right;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p {
  top: 99px;
  left: 0px;
  width: 270px;
  height: 99px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text012 {
  top: 31px;
  left: 2.9100000858306885px;
  color: rgb(48, 48, 48);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameiconwalletmoneysvg {
  top: 0px;
  left: 187px;
  width: 73.35835266113281px;
  height: 63.69386291503906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-group {
  top: 0px;
  left: 0px;
  width: 73.35835266113281px;
  height: 63.69386291503906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector {
  top: 42.515541076660156px;
  left: 5.455440998077393px;
  width: 30px;
  height: 21px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector01 {
  top: 23.992305755615234px;
  left: 5.455440998077393px;
  width: 30px;
  height: 24px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector02 {
  top: 23.885265350341797px;
  left: 5.455440998077393px;
  width: 30px;
  height: 33px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector03 {
  top: 20.541959762573242px;
  left: 50.737525939941406px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector04 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 59px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divfeatureitem1 {
  top: 244px;
  left: 0px;
  width: 270px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text016 {
  top: 74px;
  left: 27.8799991607666px;
  color: rgba(17, 17, 17, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: right;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p1 {
  top: 99px;
  left: 0px;
  width: 270px;
  height: 99px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text018 {
  top: 31px;
  left: 0.5600000023841858px;
  color: rgba(48, 48, 48, 1);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameicon-usersiconsvg {
  top: -0.041015625px;
  left: 195.00173950195312px;
  width: 75.06099700927734px;
  height: 52.54269790649414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector05 {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 53px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divwpbwrapper2 {
  top: 30px;
  left: 900px;
  width: 270px;
  height: 450px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divfeatureitem2 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text025 {
  top: 74px;
  color: rgba(17, 17, 17, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p2 {
  top: 99px;
  left: 0px;
  width: 270px;
  height: 99px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text027 {
  top: 31px;
  color: rgba(48, 48, 48, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameiconmaterialsrequiredsvg {
  top: 0px;
  left: 0px;
  width: 85px;
  height: 70.74871063232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector06 {
  top: 0px;
  left: 0px;
  width: 85px;
  height: 71px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divfeatureitem3 {
  top: 228px;
  left: 0px;
  width: 270px;
  height: 222px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text034 {
  top: 74px;
  color: rgba(17, 17, 17, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p3 {
  top: 99px;
  left: 0px;
  width: 270px;
  height: 123px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text036 {
  top: 31px;
  color: rgb(48, 48, 48);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameicondeliverytrucksvg {
  top: 0px;
  left: 0px;
  width: 107.99998474121094px;
  height: 56.656822204589844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector07 {
  top: 39.22396469116211px;
  left: 24.545461654663086px;
  width: 20px;
  height: 17px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector08 {
  top: 39.22396469116211px;
  left: 73.63638305664062px;
  width: 20px;
  height: 17px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector09 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 48px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector10 {
  top: 23.970178604125977px;
  left: 9.818196296691895px;
  width: 13px;
  height: 24px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector11 {
  top: 13.074586868286133px;
  left: 4.909069538116455px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector12 {
  top: 13.074586868286133px;
  left: 68.72725677490234px;
  width: 39px;
  height: 35px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector13 {
  top: 47.94035720825195px;
  left: 68.72725677490234px;
  width: 5px;
  height: 1px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow1 {
  top: 1311px;
  left: 0px;
  width: 1920px;
  height: 453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/playground_assets/c5e4ab0d-edc6-4914-a281-9952549673d9-lcwo-500h.undefined");
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 453px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divwpbwrapper3 {
  top: 89px;
  left: 0px;
  width: 1920px;
  height: 268px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-h2boxheader1 {
  top: 0px;
  left: 375px;
  width: 1170px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text043 {
  top: 3px;
  left: 469.3399963378906px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo2 {
  left: 537px;
  width: 100px;
  bottom: 11px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divclearfix1 {
  top: 86px;
  left: 0px;
  width: 1920px;
  height: 182px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-ultabsnavigation {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-auiid1 {
  gap: 14px;
  top: 1px;
  left: 891px;
  width: 137px;
  display: flex;
  padding: 36px 36.84000015258789px 19px 36.15999984741211px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameicondataquality {
  width: 44px;
  height: 60.096744537353516px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector14 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 60px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text045 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-auiid2 {
  gap: 14px;
  top: -3px;
  left: 749px;
  width: 137px;
  display: flex;
  opacity: 0.50;
  padding: 36px 33.38999938964844px 19px 32.61000061035156px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameiconsatisfactionguaranteed {
  width: 44px;
  height: 48.5667610168457px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector15 {
  top: 2.529600143432617px;
  left: 4.145557403564453px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector16 {
  top: 2.2090673446655273px;
  left: 3.8252334594726562px;
  width: 6px;
  height: 7px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector17 {
  top: 6.160654067993164px;
  left: 0.3210354447364807px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector18 {
  top: 5.839651107788086px;
  left: 0.0004959386424161494px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector19 {
  top: 0.460387647151947px;
  left: 0.3208200931549072px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector20 {
  top: 0.13985469937324524px;
  left: 2.842170943040401e-14px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector21 {
  top: 33.21624755859375px;
  left: 7.5387959480285645px;
  width: 13px;
  height: 15px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector22 {
  top: 32.89545440673828px;
  left: 7.2180280685424805px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector23 {
  top: 33.21624755859375px;
  left: 27.08051300048828px;
  width: 13px;
  height: 15px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector24 {
  top: 32.89503479003906px;
  left: 26.75957679748535px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector25 {
  top: 1.7360461950302124px;
  left: 5.088963508605957px;
  width: 38px;
  height: 37px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector26 {
  top: 1.414730191230774px;
  left: 4.768548011779785px;
  width: 39px;
  height: 37px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector27 {
  top: 20.023704528808594px;
  left: 4.024326801300049px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector28 {
  top: 5.543967247009277px;
  left: 9.568450927734375px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector29 {
  top: 15.657565116882324px;
  left: 19.902324676513672px;
  width: 12px;
  height: 14px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector30 {
  top: 15.336823463439941px;
  left: 19.581295013427734px;
  width: 13px;
  height: 14px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector31 {
  top: 20.391324996948242px;
  left: 16.107519149780273px;
  width: 4px;
  height: 9px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector32 {
  top: 20.07058334350586px;
  left: 15.78677749633789px;
  width: 4px;
  height: 10px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector33 {
  top: 27.35848045349121px;
  left: 17.30558967590332px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector34 {
  top: 27.037738800048828px;
  left: 16.984848022460938px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector35 {
  top: 8.31652545928955px;
  left: 21.31212043762207px;
  width: 6px;
  height: 5px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector36 {
  top: 7.9956793785095215px;
  left: 20.991273880004883px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector37 {
  top: 12.461527824401855px;
  left: 15.629864692687988px;
  width: 6px;
  height: 5px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector38 {
  top: 12.140734672546387px;
  left: 15.308757781982422px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector39 {
  top: 12.461527824401855px;
  left: 27.06067657470703px;
  width: 6px;
  height: 5px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector40 {
  top: 12.140734672546387px;
  left: 26.739856719970703px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector41 {
  top: 6.186495304107666px;
  left: 21.803464889526367px;
  width: 16px;
  height: 28px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text047 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-auiid3 {
  gap: 14px;
  top: 0px;
  left: 1028.5px;
  width: 137px;
  display: flex;
  opacity: 0.50;
  padding: 36px 26.75px 19px 26.25px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameemojicollaboration {
  width: 48px;
  height: 45.624515533447266px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-group1 {
  top: 0px;
  left: 0px;
  width: 47.509925842285156px;
  height: 45.624515533447266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector42 {
  top: 1.9007126092910767px;
  left: 5.7021379470825195px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector43 {
  top: 11.346038818359375px;
  left: 2.8510689735412598px;
  width: 11px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector44 {
  top: 10.761578559875488px;
  left: 38.95671844482422px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector45 {
  top: 20.206905364990234px;
  left: 36.10565185546875px;
  width: 11px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector46 {
  top: 30.418827056884766px;
  left: 14.248499870300293px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-group2 {
  top: 0px;
  left: 0px;
  width: 42.63288879394531px;
  height: 45.624515533447266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector47 {
  top: 39.86415100097656px;
  left: 11.397431373596191px;
  width: 11px;
  height: 6px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector48 {
  top: 0px;
  left: 14.366366386413574px;
  width: 24px;
  height: 8px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector49 {
  top: 28.673566818237305px;
  left: 26.071340560913086px;
  width: 17px;
  height: 15px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector50 {
  top: 19.946346282958984px;
  left: 0px;
  width: 10px;
  height: 20px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text049 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text051 {
  top: 162px;
  left: 721.030029296875px;
  color: rgba(255, 255, 255, 1);
  width: 478px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow2 {
  top: 1764px;
  left: 0px;
  width: 1920px;
  height: 1104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(246, 246, 246, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divwpbwrapper4 {
  top: 89px;
  left: 0px;
  width: 1920px;
  height: 919px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divwpbwrapper5 {
  top: 0px;
  left: 375px;
  width: 1170px;
  height: 795px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-h2boxheader2 {
  top: 0px;
  left: 0px;
  width: 1170px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text053 {
  top: 3px;
  left: 484.30999755859375px;
  color: rgba(17, 17, 17, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo3 {
  top: 57px;
  left: 535px;
  width: 100px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text055 {
  top: 105px;
  left: 345.5799865722656px;
  color: rgba(48, 48, 48, 1);
  width: 479px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Raleway;
  font-weight: 300;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-ul {
  top: 197px;
  left: 0px;
  width: 1170px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-liexcerptbigsize {
  top: 0px;
  left: 0px;
  width: 370px;
  height: 598px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-cleaning1350x320png {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 320px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-h4boxheader {
  top: 320px;
  left: 0px;
  width: 370px;
  height: 96px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text057 {
  top: 36px;
  left: 137.8300018310547px;
  color: rgba(17, 17, 17, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo4 {
  top: 84px;
  left: 170px;
  width: 30px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p4 {
  top: 416px;
  left: 27.75px;
  width: 314px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text059 {
  top: 23px;
  left: 1.440000057220459px;
  color: rgba(48, 48, 48, 1);
  width: 312px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Raleway;
  font-weight: 300;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-liexcerptbigsize1 {
  top: 0px;
  left: 400px;
  width: 370px;
  height: 598px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-repaint1350x320png {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 320px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-h4boxheader1 {
  top: 320px;
  left: 0px;
  width: 370px;
  height: 96px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text066 {
  top: 36px;
  left: 145.88999938964844px;
  color: rgba(17, 17, 17, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo5 {
  top: 84px;
  left: 170px;
  width: 30px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p5 {
  top: 416px;
  left: 27.75px;
  width: 314px;
  height: 152px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text068 {
  top: 23px;
  left: 8.5px;
  color: rgba(48, 48, 48, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Raleway;
  font-weight: 300;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-liexcerptbigsize2 {
  top: 0px;
  left: 800px;
  width: 370px;
  height: 598px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-others1350x320png {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 320px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-h4boxheader2 {
  top: 320px;
  left: 0px;
  width: 370px;
  height: 96px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text077 {
  top: 36px;
  left: 148.61000061035156px;
  color: rgba(17, 17, 17, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pseudo6 {
  top: 84px;
  left: 170px;
  width: 30px;
  height: 2px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p6 {
  top: 416px;
  left: 27.75px;
  width: 314px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text079 {
  top: 23px;
  left: 17.09000015258789px;
  color: rgb(48, 48, 48);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Raleway;
  font-weight: 300;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-buttonmorebutton {
  top: 881px;
  left: 876.8800048828125px;
  width: 171px;
  display: flex;
  padding: 14px 38.25px 15px 39px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(22, 185, 245, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  background-color: rgba(22, 185, 245, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text082 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow3 {
  top: 2868px;
  left: 0px;
  width: 1919px;
  height: 164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(39, 45, 46, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow4 {
  top: 30px;
  left: 375px;
  width: 1170px;
  height: 134px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divcontactdetailsbox {
  top: 7px;
  left: -78px;
  width: 370px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text084 {
  top: 3px;
  left: 88px;
  color: rgba(128, 136, 138, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p7 {
  top: 22px;
  left: 88px;
  width: 282px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text086 {
  top: 3px;
  left: -8px;
  color: rgba(255, 255, 255, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Light;
  text-align: left;
  font-family: Raleway;
  font-weight: 300;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameiconwhatsappsvg {
  top: 18px;
  left: 0px;
  width: 65.3475341796875px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector51 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 58px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divcontactdetailsbox1 {
  top: 7px;
  left: 800px;
  width: 370px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text088 {
  top: 3px;
  left: 88px;
  color: rgba(128, 136, 138, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-a {
  top: 22px;
  left: 88px;
  width: 591px;
  display: flex;
  padding: 0 0.019989013671875px 0 0;
  position: absolute;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text090 {
  color: rgba(255, 255, 255, 1);
  width: 591px;
  height: auto;
  font-size: 24px;
  font-style: Light;
  text-align: left;
  font-family: Raleway;
  font-weight: 300;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-frameiconworkshopsvg {
  top: 22px;
  left: -10px;
  width: 77px;
  height: 76.3475341796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-vector52 {
  top: 0px;
  left: 0px;
  width: 77px;
  height: 76px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow5 {
  top: 3032px;
  left: -1px;
  width: 1920px;
  height: 602px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(52, 60, 62, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvcrow6 {
  top: 61px;
  left: 375px;
  width: 1170px;
  height: 351px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvccolsm3 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 351px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text092 {
  top: 4px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pmargintop23 {
  top: 50px;
  left: 0px;
  width: 270px;
  height: 124px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text094 {
  top: 18px;
  color: rgb(182, 189, 191);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text101 {
  left: 0px;
  color: rgb(182, 189, 191);
  width: 259px;
  bottom: -40px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-p8 {
  top: 197px;
  right: -2px;
  width: 270px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-buttonmorebutton1 {
  left: 2px;
  width: 162px;
  bottom: 14px;
  display: flex;
  padding: 14px 38.61000061035156px 15px 39px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(64, 72, 74, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  background-color: rgba(64, 72, 74, 1);
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text104 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divvccolsm31 {
  top: 0px;
  left: 900px;
  width: 270px;
  height: 212.30999755859375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-pmargintop231 {
  top: 23px;
  left: 0px;
  width: 270px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text106 {
  top: 18px;
  color: rgb(182, 189, 191);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-buttoninstagramfollowbuttonpng1png {
  top: 137px;
  left: 0px;
  width: 150px;
  height: 47px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divtransparentheadercontainer {
  top: 0px;
  left: 0px;
  width: 1919px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divheader {
  top: 36.9591064453125px;
  left: 375.0017395019531px;
  width: 1170px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-a1 {
  top: 1.25px;
  left: 474.0199890136719px;
  width: 222px;
  height: 50.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text111 {
  top: 10.25px;
  left: 51px;
  color: rgba(255, 255, 255, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Black;
  text-align: center;
  font-family: Lato;
  font-weight: 900;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-whats-app-image20230515at13292 {
  top: 3.7091064453125px;
  left: 13.98175048828125px;
  width: 44px;
  height: 44px;
  position: absolute;
  border-radius: 23.5px;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-ulmenumainmenu2 {
  top: 0px;
  left: 891.530029296875px;
  width: 278px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-divheader1 {
  top: -9976px;
  left: 0px;
  width: 1170px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-a2 {
  top: 1.25px;
  left: 474.0199890136719px;
  width: 222px;
  height: 50.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-logo100pxcol-rpng {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 50px;
  position: absolute;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text113 {
  top: 10.25px;
  left: 51px;
  color: rgba(255, 255, 255, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Black;
  text-align: center;
  font-family: Lato;
  font-weight: 900;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-ulmenumainmenu1 {
  gap: -0.3400001525878906px;
  top: 0px;
  left: 0px;
  width: 370px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1178 {
  display: flex;
  padding: 15px 0 14px 0;
  overflow: hidden;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text115 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.85;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1190 {
  display: flex;
  padding: 15px 0 14px 32px;
  overflow: hidden;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text117 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1237 {
  display: flex;
  padding: 15px 0 14px 32px;
  overflow: hidden;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text119 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1450 {
  display: flex;
  padding: 15px 0 14px 32px;
  overflow: hidden;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text121 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-ulmenumainmenu21 {
  top: 0px;
  left: 891.530029296875px;
  width: 278px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1952 {
  top: 0px;
  left: 0px;
  width: 139px;
  display: flex;
  padding: 15px 0 14px 0;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text123 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1455 {
  top: 0px;
  left: 138.77999877929688px;
  width: 71px;
  display: flex;
  padding: 15px 0 14px 32px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text125 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-limenuitem1246 {
  top: 0px;
  left: 208.85000610351562px;
  width: 70px;
  display: flex;
  padding: 15px 0 14px 32px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-text127 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.peopleshoescombyhtmltodesign-fr-eversion15052023103-whats-app-image20230515at13291 {
  top: 1322.958984375px;
  left: 710.001708984375px;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 250px;
}
