.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-wwwishoelaundrycombyhtmltodesign-fr-eversion2105202 {
  width: 100%;
  height: 3428px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputsearchformsubmit {
  top: 979px;
  left: 1289px;
  color: rgba(255, 255, 255, 1);
  width: 1px;
  height: 1px;
  display: flex;
  position: absolute;
  font-size: 16px;
  text-align: center;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Lato;
  font-weight: 400;
  border-radius: 3px;
  background-color: rgba(49, 178, 237, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divrcanchorpt {
  top: 1680px;
  left: 206px;
  width: 278px;
  height: 941px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text {
  left: 218.52000427246094px;
  color: rgba(85, 85, 85, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text02 {
  left: 245.36000061035156px;
  color: rgba(0, 0, 0, 1);
  width: 6px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text04 {
  left: 252.52999877929688px;
  color: rgba(85, 85, 85, 1);
  width: 23px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divsitecontainer {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 3428px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-headersiteheader {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divwrap {
  top: 0px;
  left: 150px;
  width: 1140px;
  height: 233px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-whats-app-image20230515at13291 {
  top: 36px;
  left: 550px;
  width: 339px;
  height: 239px;
  position: absolute;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divsiteinner {
  top: 1118px;
  left: 0px;
  width: 1440px;
  height: 1588px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(245, 245, 245, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-articlepost823 {
  top: 40px;
  left: 150px;
  width: 1140px;
  height: 1507px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(236, 236, 236, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-headerentryheader {
  top: 1px;
  left: 1px;
  width: 1138px;
  height: 117px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text06 {
  top: 35px;
  left: 40px;
  color: rgba(51, 51, 51, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-formwpcf7form {
  top: 158px;
  left: 41px;
  width: 1058px;
  height: 1282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-label {
  top: 0px;
  left: 0px;
  width: 1058px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text08 {
  color: rgba(119, 119, 119, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputwpcf7formcontrol {
  width: 1058px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-label1 {
  top: 105px;
  left: 0px;
  width: 1058px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text10 {
  color: rgba(119, 119, 119, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputwpcf7formcontrol1 {
  width: 100%;
  display: flex;
  padding: 17px;
  align-items: flex-start;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-label2 {
  top: 210px;
  left: 0px;
  width: 1058px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text12 {
  color: rgba(119, 119, 119, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputwpcf7formcontrol2 {
  width: 1058px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-label3 {
  top: 315px;
  left: 0px;
  width: 1058px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text14 {
  color: rgba(119, 119, 119, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputwpcf7formcontrol3 {
  width: 1058px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-p {
  top: 420px;
  left: 0px;
  width: 1058px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text16 {
  top: 3px;
  color: rgba(119, 119, 119, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input {
  left: 16px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text18 {
  top: 29px;
  left: 29px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text19 {
  top: 29px;
  left: 32.09000015258789px;
  color: rgba(119, 119, 119, 1);
  width: 17px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputsvg {
  left: 65px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text21 {
  top: 29px;
  left: 77.61000061035156px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text22 {
  top: 29px;
  left: 80.69999694824219px;
  color: rgba(119, 119, 119, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-label4 {
  top: 498px;
  left: 0px;
  width: 1058px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text24 {
  color: rgba(119, 119, 119, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-inputwpcf7formcontrol4 {
  width: 100%;
  display: flex;
  padding: 17px;
  align-items: flex-start;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-p1 {
  top: 603px;
  left: 0px;
  width: 1058px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text26 {
  top: 3px;
  color: rgba(119, 119, 119, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-selectwpcf7formcontrolinput {
  top: 26px;
  left: 0px;
  width: 1058px;
  height: 114px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-p2 {
  top: 773px;
  left: 0px;
  width: 1058px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text28 {
  top: 3px;
  color: rgba(119, 119, 119, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input1 {
  left: 17px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text30 {
  top: 29px;
  left: 29px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text31 {
  top: 29px;
  left: 32.09000015258789px;
  color: rgba(119, 119, 119, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input2 {
  left: 129px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text33 {
  top: 29px;
  left: 140.94000244140625px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text34 {
  top: 29px;
  left: 144.02999877929688px;
  color: rgba(119, 119, 119, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input3 {
  left: 266px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text36 {
  top: 29px;
  left: 277.9100036621094px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text37 {
  top: 29px;
  left: 281px;
  color: rgba(119, 119, 119, 1);
  width: 138px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input4 {
  left: 423px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text39 {
  top: 29px;
  left: 447.6300048828125px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text40 {
  top: 29px;
  left: 438px;
  color: rgba(119, 119, 119, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input5 {
  left: 507px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text42 {
  top: 29px;
  left: 532.5px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text43 {
  top: 29px;
  left: 522px;
  color: rgba(119, 119, 119, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input6 {
  left: 630px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text45 {
  top: 29px;
  left: 641.6900024414062px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text46 {
  top: 29px;
  left: 644.780029296875px;
  color: rgba(119, 119, 119, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input7 {
  left: 736px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text48 {
  top: 29px;
  left: 747.5800170898438px;
  color: rgba(119, 119, 119, 1);
  width: 3px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text49 {
  top: 29px;
  left: 750.6699829101562px;
  color: rgba(119, 119, 119, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-input8 {
  left: 833px;
  width: 13px;
  bottom: 3px;
  height: 13px;
  position: absolute;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text51 {
  top: 29px;
  left: 848px;
  color: rgba(119, 119, 119, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-label5 {
  top: 851px;
  left: 0px;
  width: 1058px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text53 {
  color: rgba(119, 119, 119, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Lato;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-textareawpcf7formcontrolinput {
  width: 1058px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-buttonwpcf7formcontrolbutton {
  top: 1231px;
  left: 0px;
  width: 82px;
  display: flex;
  padding: 16px 22.94000244140625px 16px 24px;
  position: absolute;
  align-items: flex-start;
  border-radius: 3px;
  background-color: rgba(49, 178, 237, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text55 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-footersitefooter {
  top: 2706px;
  left: 0px;
  width: 1440px;
  height: 100.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(236, 236, 236, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(255, 255, 255, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divvcrow {
  top: 2807px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(39, 45, 46, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divvcrow1 {
  top: 30px;
  left: 135px;
  width: 1170px;
  height: 134px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divcontactdetailsbox {
  top: 7px;
  left: 0px;
  width: 370px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text57 {
  top: 3px;
  left: 88px;
  color: rgba(128, 136, 138, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-p3 {
  top: 22px;
  left: 88px;
  width: 282px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text59 {
  top: 3px;
  left: -8px;
  color: rgba(255, 255, 255, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Light;
  text-align: left;
  font-family: Raleway;
  font-weight: 300;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-frameiconwhatsappsvg {
  top: 18px;
  left: 0px;
  width: 65.3475341796875px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-vector {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 58px;
  position: absolute;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divcontactdetailsbox1 {
  top: 7px;
  left: 800px;
  width: 370px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text61 {
  top: 3px;
  left: 88px;
  color: rgba(128, 136, 138, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-a {
  top: 22px;
  left: 88px;
  width: 406px;
  display: flex;
  padding: 0 0.019989013671875px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text63 {
  color: rgba(255, 255, 255, 1);
  width: 406px;
  height: auto;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Raleway;
  font-weight: 300;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-frameiconworkshopsvg {
  top: 22px;
  left: -10px;
  width: 77px;
  height: 76.3475341796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-vector1 {
  top: 0px;
  left: 0px;
  width: 77px;
  height: 76px;
  position: absolute;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divvcrow2 {
  top: 2971px;
  left: 0px;
  width: 1440px;
  height: 457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(52, 60, 62, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divvcrow3 {
  top: 61px;
  left: 135px;
  width: 1170px;
  height: 351px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divvccolsm3 {
  top: 0px;
  left: 0px;
  width: 270px;
  height: 351px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text65 {
  top: 4px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-pmargintop23 {
  top: 50px;
  left: 0px;
  width: 270px;
  height: 124px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text67 {
  top: 18px;
  color: rgb(182, 189, 191);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-p4 {
  top: 103px;
  left: 0px;
  width: 270px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text74 {
  top: 18px;
  color: rgb(182, 189, 191);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-buttonmore {
  top: 226px;
  left: 0px;
  width: 171px;
  display: flex;
  padding: 14px 38.61000061035156px 15px 39px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(64, 72, 74, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  background-color: rgba(64, 72, 74, 1);
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text77 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-divvccolsm31 {
  top: 0px;
  left: 900px;
  width: 270px;
  height: 212.30999755859375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-pmargintop231 {
  top: 23px;
  left: 0px;
  width: 270px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-text79 {
  top: 18px;
  color: rgb(182, 189, 191);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-buttoninstagramfollowbuttonpng1png {
  top: 123px;
  left: 0px;
  width: 150px;
  height: 47px;
  position: absolute;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-image1 {
  top: 275px;
  left: 151px;
  width: 459px;
  height: 812px;
  position: absolute;
}
.wwwishoelaundrycombyhtmltodesign-fr-eversion2105202-image2 {
  top: 275px;
  left: 836px;
  width: 456px;
  height: 811px;
  position: absolute;
}
